:root {
    --star-size: 22px;
    --star-color: #999;
    --star-background: #fc0;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.gap-0{
    gap: 0 !important;
}
.gap-1 {
    gap: .25rem !important;
}
.gap-2{
    gap: .5rem !important;
}
.gap-3{
    gap: .75rem !important;
}
.gap-4{
    gap: 1rem !important;
}

/* Stars rating */

.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}
.Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.starInput {
    --percent: calc(var(--rating) / 1 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}
    .starInput::before {
        content: '★';
        letter-spacing: 3px;
        background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}


/*Sidebar*/
.ratingItem{
  max-width: 50%;
  border: solid;
}
.ratingHeader{

}
.ratingContent{
}
#Rate{
    position: absolute;
    visibility:hidden;

}